.customTxt {
  display: flex;
  align-items: center;
  justify-self: start;
  overflow: hidden;
  flex-wrap: wrap;
}

.customTxt p {
  text-overflow: ellipsis;
  text-wrap: none;
}

.customTxt img {
  width: 50px;
  height: 50px;
  margin: 0 10px;

}

@media (max-width: 720px) {
  .customTxt h1 {
    font-size: 18px;
  }

  .customTxt p {
    font-size: 14px;
  }

  .customTxt img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .customTxt h1 {
    font-size: 16px;
  }

  .customTxt p {
    font-size: 13px;
    word-wrap: normal;
  }

  .customTxt p img {
    width: 25px;
  }

  .customTxt img {
    width: 30px;
    height: 30px;
    margin: 0 3px;
  }
}