.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  width: 100%;
  max-width: 600px;
  height: 400px;
  border-radius: 12px;
  padding: 10px;
  padding-bottom: 20px;
  color: var(--white);
}


.heading {
  text-align: center;
}

.profile {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.about2 {
  margin-top: 15px;
  font-size: 23px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  max-width: 250px;
  font-size: 20px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  transition: 0.22s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
  transform: scale(0.97);
}

@media (max-width:1320px) {

  .heading {
    font-size: 20px;
  }

  .profile img {
    width: 70px;
    height: 70px;
  }

  .profile p {
    font-size: 18px;
  }

  .about2 {
    font-size: 18px;
  }

}

@media (max-width:1080px) {

  .profile p {
    font-size: 16px;
  }

}

@media (max-width:500px) {
  .card {
    width: 280px;
    height: 340px;
  }

  .heading {
    font-size: 15px;
  }

  .profile img {
    width: 50px;
    height: 50px;
  }

  .profile p {
    font-size: 14px;
  }

  .about2 {
    font-size: 18px;
  }

}