.main {
  width: calc(100vw - 20px);
  padding: 10px;
  min-height: calc(100dvh - 70px);
  height: auto;
}

.heading,
.subHeading,
.routingHeading {
  font-size: 3.5rem;
}

.routingHeading {
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 0 10px;
  align-content: center;
  gap: 10px;
}

.cardHolder {
  display: inline;
  transition: 0.22s ease-in-out;
  opacity: 0.6;
  width: calc(100% /3.3);
}

.cardHolder:nth-child(1) {
  opacity: 1;
  transform: scale(1.02);
  transition: 0.22s ease-in-out;
}

/* When any cardHolder except the first is hovered, reset the first */
.cardContainer:hover .cardHolder:nth-child(1):not(:hover) {
  opacity: 0.6;
  transform: none;
}

.cardHolder:hover {
  opacity: 1;
  transform: scale(1.02);
}

.smallCardContainer {
  overflow: hidden;
  width: 620px;
  margin: 0 auto;
  display: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.cardRow {
  display: flex;
  justify-content: start;
  scroll-snap-align: start;
  transition: transform 0.5s ease-in-out;
  width: 102%;
}

.smallCardHolder {
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: none;
}

.dotButton {
  opacity: 0.5;
  transform: scale(1);
  transition: all 0.022s ease;
  background: transparent;
  border: none;
  cursor: pointer;
}

.activeDot {
  opacity: 1;
  transform: scale(1.05);
}

@media (max-width: 1000px) {

  .heading,
  .subHeading,
  .routingHeading {
    font-size: 3rem;
  }


  .smallCardContainer {
    display: block;
  }

  .dots {
    display: flex;
  }

  .cardContainer {
    display: none;
  }
}

@media (max-width: 650px) {
  .smallCardContainer {
    width: 480px;
    border-radius: 12px;
  }

}

@media (max-width: 500px) {
  .smallCardContainer {
    width: 300px;
  }

}