.nav {
  display: flex;
  background-color: var(--black);
  height: 70px;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  color: var(--white);
}

.logoLink {
  text-decoration: none;
  color: var(--white);
}

.navUl {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.navUl a {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.mainImg {
  position: absolute;
  left: 0;
  transition: 0.28s ease-in-out;
}

.mainImg:hover {
  opacity: 0;
}

@media (max-width: 720px) {
  .logo {
    font-size: 16px;
  }

  .navUl a {
    width: 30px;
    height: 30px;
  }

  .navUl a img {
    width: 30px;
    height: 30px;
  }
}