.main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer {
  max-width: 1200px;
  width: calc(100% - 20px);
  padding: 0 10px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.heading h1 {
  text-align: center;
  font-size: 3rem;
}

.heading p {
  letter-spacing: 5px;
  text-align: center;
  font-weight: 200;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.cardHolder img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

@media (max-width:480px) {
  .heading p {
    font-size: 12px;
    letter-spacing: 4px;
  }
}